<p style="color: green"><%= notice %></p>

<h1>Journals Index</h1>

<% if @journals.any? %>
  <div id="journals">
    <% @journals.each do |journal| %>
      <%= render partial: "journals/journal", locals: { journal: journal } %>
    <% end %>
  </div>
<% else %>
  <p>There are no journals to display.</p>
<% end %>

<%= link_to "New journal", new_journal_path %>
<%= link_to "Home", root_path %>
