<div class="container">
  <div class="column">
    <div class="jn-title">
      <h1>New journal</h1>
    </div>
    <div class="jn-form">
      <%= render "form", journal: @journal %>
    </div>
    <div>
      <button type="button" class="btn btn-default"<%= link_to "Back to journals", journals_path %>></button>
    </div>
  </div>
</div>
